<div class="home-container container-fluid">
    <h1 class="view-title">
        Search tweets by key words 
    </h1>

    <input type="text" class="searchbar form-control" [(ngModel)]="searchText" #searchbar (keyup.Enter)="search()">

    <div class="saved-tweets" *ngIf="savedTweets">
        <p class="title">Your Saved Tweets</p>
        <tweet-component  class="tweet col-xs-10 col-md-6 " *ngFor="let tweet of savedTweets" (savedStatusChanged)="getSaved()" [tweet]="tweet"></tweet-component>
    </div>

</div>