@import "../../styles/global.less";


.home-container {
    .view-container;

    .searchbar {
        &:focus {
            border-color: @principal;
            -webkit-box-shadow: inset 0px 0px 0.5px 0.5px rgba(196,32,2,0.68);
            -moz-box-shadow: inset 0px 0px 0.5px 0.5px rgba(196,32,2,0.68);
            box-shadow: inset 0px 0px 0.5px 0.5px rgba(196,32,2,0.68);
        }
    }

    .saved-tweets {
        margin-top: 30px;
        display: flex;
        flex-direction: column;

        .tweet {
            align-self: center;
        }

        .title {
            font-weight: 500;
            margin-bottom: 20px;
        }
    }
}


@media screen and (max-width: 400px) {
    .saved-tweets {
        .tweet {
            width: 99%;
        }
    }
}
