
.view-container {
    display: flex;
    min-height: calc(~"100vh" - @header-size);
    flex-direction: column;
    padding: 50px 20px 0px 20px;
    background: @secondary;

    .view-title {
        font-size: 18px;
        font-weight: 400;
    }
}