@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import "../styles/global.less";

*, body {
    // font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Quicksand', sans-serif;
    margin: 0px !important;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    color: @principal;
    background: white;
    height: @header-size;
    display: flex;
    padding-left: 40px; 
    align-items: center;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid @principal;

    .homelink {
        cursor: pointer;
    }
}