

<div class="view-container col-xs-12" *ngIf="!!tweet">
    
    <div class="content">
        <div class="user">
            <img [src]="tweet.user.profile_image_url" class="image" alt="no image">
    
            <div class="user-details">
                <div class="names">
                    <span class="username">
                        {{tweet.user.name}}
                    </span>
                    <span class="screen-name">
                        @{{tweet.user.screen_name }}
                    </span>
                </div>                
                <div class="extra">
                    <span class="followers">
                        Followers: {{tweet.user.followers_count}}
                    </span>
                    <span class="friends">
                        Friends: {{tweet.user.friends_count}}
                    </span>
                </div>                    

            </div>

        </div>

        <hr class="separator">

        <div class="tweet">
            <div class="text">
                <p class="text-content" innerHtml="{{tweet.text | ParseText: tweet.entities.urls}}" >
                </p>
            </div>
            <div class="tweet-data">
                <div class="retweeted">
                    <span class="icon glyphicon glyphicon-random"  aria-hidden="true"></span>
                    <span>{{tweet.retweet_count}}</span>
                </div> 
                <div class="favorite">
                    <span class=" icon glyphicon glyphicon-heart"  aria-hidden="true"></span>
                    <span>{{tweet.favorite_count}}</span>
                </div> 
            </div>
        </div>
    </div>
       
    

</div>  