@import "../../styles/global.less";

.view-container {
    padding: 0px;
    background: @secondary;
    min-height: calc(~"100vh" -60px);

    .content {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        max-width: 600px;
        background: white;
        margin-top: 20px;
    }

    .user {
        display: flex;
        flex-direction: row;

        .image {
            height: 180px;
            width: 180px;
        }

        .user-details {
            display: flex;
            flex-direction: column;
            padding: 10px;
            font-weight: 500;
            justify-content: space-around;
            .screen-name {
                color: @principal;
            }

            .names {
                display: flex; 
                flex-direction: column;
            }

            .extra {
                display: flex;
                flex-direction: column;
            }
        }

    }

    .separator {
        background: @secondary;
        height: 10px;
        width: 100%;
        margin: 0px;
    }

    .tweet {
        display: flex;
        flex-direction: column;
        padding: 20px;

        .text {
            margin-bottom: 40px;
            .text-content {
                font-weight: 500;
            }
        }

        .tweet-data {
            display: flex;
            justify-content: space-around;

            .icon {
                color: @principal;
            }
        }
    }
}