@import "../../../styles/global.less";


.tweet {
    display: flex;
    flex-direction: column;
    min-height: 220px;
    width: 100%;
    margin-bottom: 15px;
    background: white;
    border: 1px solid;
    cursor: pointer;

    .tweet-heading {
        display: flex;
        flex-direction: row;
        height: 60px;
        align-items: center; 
        border-bottom: 1px solid;
        box-sizing: content-box;

        .image {
            height: 60px;
            width: 60px;
            margin-right: 10px;
        }
        .username {
            font-weight: 500;
        }

        .fav {
            margin-left: auto;
            margin-right: 10px;
            font-size: 18px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;

            &.saved {
                color: @yellow;
            }
        }
    }

    .content {
        min-height: 120px;
        padding: 15px;
    }

    .details {
        height: 40px;
        display: flex;
        align-items: center;
        padding-right: 10px;
        font-size: 16px;
        justify-content: flex-end;

        .icon {
            margin-left: 10px;
        }

        .favorite {
            margin-left: 20px;
        }
    }
}