<div class="tweet" [style.borderColor]="pickedColor" (click)="goToDetails()">
    <div class="tweet-heading" [style.borderBottomColor]="pickedColor">
        <img [src]="tweet.user.profile_image_url" alt="No Image" class="image">
        <span class="username">{{tweet.user.name}}</span>
        <span class="fav glyphicon glyphicon-star" [class.saved]="isSaved" (click)="toggleSave($event)"></span>
    </div>
    <div class="content" innerHtml="{{tweet.text | ParseText: tweet.entities.urls}}">
    </div>
    <div class="details">
        <div class="retweeted">
            <span class="icon glyphicon glyphicon-random" [style.color]="pickedColor" aria-hidden="true"></span>
            <span>{{tweet.retweet_count}}</span>
        </div> 
        <div class="favorite">
            <span class=" icon glyphicon glyphicon-heart" [style.color]="pickedColor" aria-hidden="true"></span>
            <span>{{tweet.favorite_count}}</span>
        </div>     
    </div>
</div>