@import "../../styles/global.less"; 


.searched {
    color: @principal;
}

.tweets {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    tweet-component {
        width: 100%;
    }
}


.view-title {
    margin-top: 0px;
    margin-bottom: 25px;
}