

<div class="view-container">
    <h1 class="view-title">
        Tweets for: <span class="searched">{{nameToSearch}}</span>      
    </h1>    

    <div class="tweets col-xs-10 col-md-8 col-xl-6">
        <tweet-component *ngFor="let tweet of tweets" [tweet]="tweet"></tweet-component>
    </div>
</div>
   